<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">

<log4j:configuration debug="false">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%5p %d{ISO8601} %c{1} - %m%n" />
		</layout>
	</appender>
	<appender name="secureNetwork" class="org.apache.log4j.rolling.RollingFileAppender">
		<param name="file" value="./logs/logs.log" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy"> 
			<param name="FileNamePattern" value="./logs/%d{yyyy-MM-dd_HH}_%d{mm}_logs.gz" />
		</rollingPolicy>
		<triggeringPolicy class="org.apache.log4j.rolling.SizeBasedTriggeringPolicy">
			<param name="MaxFileSize" value="250000000" />				<!-- 250MB -->
		</triggeringPolicy>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%5p %d{ISO8601} %c{1}:%L - %m%n" />
		</layout>
	</appender>

	<logger name="edu.umbc.bft">
		<level value="info" />
		<!-- <appender-ref ref="secureNetwork" /> -->
	</logger>
	
	<root>
		<priority value="info" />
		<appender-ref ref="CONSOLE" />
		<!-- <appender-ref ref="secureNetwork" /> --> 
	</root>
	
</log4j:configuration>
